// app global css in SCSS form
@use "sass:map";
@use "src/css/quasar.variables.scss";
q-app {
  font-family: "Poppins" !important;
  font-size: 14px;
  background-color: #ffffff;
}

.font-h1 {
  font-family: "Poppins";
  font-size: 96px;
  font-weight: 300;
  line-height: 144px;
}

.font-h2 {
  font-family: "Poppins";
  font-size: 60px;
  font-weight: 300;
  line-height: 90px;
}

.font-h3 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.font-h4 {
  font-family: "Poppins";
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
}

.font-h5 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.font-h6 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.7px;
}

.font-subtitle-1 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.font-subtitle-2 {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1px;
  text-align: left;
}

.font-body-1 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.font-body-2 {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.font-overline {
  font-family: "Poppins";
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.25px;
}

.font-caption {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.font-button {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 1.25px;
}

.flex-grow {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.round {
  border-radius: 50%;
}

.self-center {
  align-self: center;
}

.input-disable {
  .q-field--outlined .q-field__control::before {
    border: 1px solid #b9b9b9 !important;
    transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.q-toolbar {
  position: relative;
  padding: 0 12px;
  min-height: 50px;
  width: auto;
}

.q-drawer:has(.detached-container) {
  margin: 16px !important;
  margin-bottom: 16px !important;
  margin-left: 10px !important;
  border-radius: 6px !important;
  transition: all;
}

body.body--light {
  .q-drawer:has(.detached-container) {
    background: #{map.get($colors, "surface")} !important;
  }

  .q-menu {
    background: #{map.get($colors, "surface")};
  }

  background: #{map.get($colors, "page")} !important;
}

body.body--dark {
  .q-drawer:has(.detached-container) {
    background: #{map.get($colors-dark, "surface")} !important;
  }

  .q-menu {
    background: #{map.get($colors-dark, "surface")};
  }

  background: #{map.get($colors-dark, "page")};
}

.q-card__actions .q-btn {
  padding: 10px 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.q-separator {
  padding-top: 0px;
  padding-left: 0;
}

.q-scrollarea__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.q-table {
  th {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.q-table__top {
  padding: 0 !important;
}

.subTitulo {
  font-weight: 700;
  font-size: 15px;
}

.borderCard {
  border: 0.5px solid #abadb0;
}

.q-field--dense .q-field__control {
  height: 45px;
}

.q-field--dense .q-field__label {
  font-size: 14px;
  top: 14px;
}

.q-field--dense .q-field__marginal {
  height: 45px;
}
